<h3> My Grocery List </h3>

<ul class="collection">
  <% if @groceries.blank? %>
    <li class="collection-item"> Start adding items to your grocery </li>
  <% end %>
  <% @groceries.each do |grocery| %>
    <li class="collection-item">
      <%= grocery.name %> - <%= grocery.quantity %>
      <%= link_to grocery_path(grocery), method: :delete, data: { confirm: 'Remove item from grocery list?' }, class: 'right' do %>
        <i class="material-icons">delete</i>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to 'Add item', new_grocery_path, class: "waves-effect waves-light btn white-text right" %>
